body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: blueviolet;
  color: white;
  padding-left: 20px;
}
.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 40px;
  height: 100%;

}
.nav-item {
  padding: 5px;
}

main {
  display: flex;
}
.content-text{
    padding: 8px;
}

.sidebar{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 244, 244);
    height: 100%;
}
.side-info{
    margin: 4px;
    padding: 4px;
    background-color: white;
    border: 1px solid black;
}
footer {
  background-color: rgb(137, 137, 137);
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    min-width: 300px;
  }

  .nav-bar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .nav-bar {
    order: 1; 
  }

  .content {
    order: 2;
  }

  .sidebar {
    order: 3;
  }

  footer {
    order: 4;
  }

  header {
    order: 0;
  }
}
