.flex-container{
    display: flex;
    flex-direction: column;
    border: solid rgb(255, 144, 46);;
    height: 100%;
}

.top-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;
}
.circle{
    background-color: rgb(255, 144, 46);
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.text{
    padding: 10px;
    text-align: center;
}
.bottom-flex{
    border-top: solid rgb(255, 144, 46);;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.right-lines{
    display: flex;
}
.line{
    background-color: rgb(255, 144, 46);
    height: 20px;
    width: 100px;
    border-radius: 2px;
    margin: 10px;
  }
